.hidden {
    display: none !important;
}
.block {
    display: block !important;
}
.flex {
    display: flex !important;
}
.fade-in {
    opacity: 1 !important;
    transition: opacity 0.2s;
}
.fade-out {
    opacity: 0 !important;
    transition: opacity 0.2s;
}
.bg-white {
    background-color: #fff !important;
}
.text-error {
    color: red !important;
}
.text-success {
    color: var(--color-success) !important;
}
.text-info {
    color: var(--color-info) !important;
}
.transition {
    transition: opacity 0.2s ease, transform 0.2s ease !important;
}
.no-pointer {
    pointer-events: none !important;
}
.pointer {
    pointer-events: auto !important;
}
.border-error {
    border-color: var(--color-error) !important;
}
.border-normal {
    border-color: initial !important;
}
