# Environment variables
.env

# Configuration files
dev.stackovercash.site.conf
nginx.conf
techblinders_api.md
./src/api/services/EXTERNAL_API_DOC.md
./src/api/services/README.md
stackovercash_api_doc.md

# Logs
/logs/error.log
/logs/password_reset_error.log
/logs/*.log

tmp/
!tmp/.gitkeep
/tmp/
!/tmp/.gitkeep

/vendor/

.vscode/
/public/.htaccess