# Environment variables
.env

dev.stackovercash.site.conf
nginx.conf
techblinders_api.md
./src/api/services/EXTERNAL_API_DOC.md
./src/api/services/README.md
stackovercash_api_doc.md

# Logs
/src/logs/*
*.log
error.log
error_log
debug.log

# Temporary files
tmp/
!tmp/.gitkeep
tmp/*
!tmp/.gitkeep
/tmp/
!/tmp/.gitkeep
/tmp/*
!/tmp/.gitkeep

# Dependencies
/vendor/

.vscode