<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Teller</title>
    <link 
          rel="stylesheet" 
          href="../assets/bank_teller.css">
    <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
          rel="stylesheet"/>
    <link 
          rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div id="container_box">
        <div id="container-nav">
            <div class="title-container">
                <span id="white">Stack</span>
                <span id="green">Overcash</span>
            </div>
            <div class="avatar-container">
                <img src="../assets/images/profile_bank_teller.jpg" 
                      alt="Avatar Picture">
                <strong id="username">Jovani Avi</strong>
            </div>
            <div class="sidebar-container">
                <strong class="nav-txt"><span>Dashboard</span></strong>
                <strong class="nav-txt"><span>Transfer</span></strong>
                <strong class="nav-txt"><span>Transaction</span></strong>
                <strong class="nav-txt"><span>Account</span></strong>
                <strong class="nav-txt"><span id="logout">Log out
                    </span></strong>
            </div>
        </div>

        <div id="container_content">
            <div class="top-bar">
                <div class="icon"><i class="fa-regular fa-bell"></i></div>
                <div class="icon"><i class="fa-regular fa-square-plus"></i></div>
            </div>

            <div class="notice-container">
            <p>[📢 Notice] Our bank will be closed on May 13, 2025 
                  (Tuesday) in observance of a national holiday. 
                  Online banking services will remain available.</p>
            </div>

            <div class="body-container">
                <div class="greeting-container">
                    <div id="hello"> <b>Hello</b> </div>
                    <div id="name"> <strong>Jovani Avi!</strong> </div>
                </div>
                <div class="search-container"> 
                    <label>Search Account</label>
                    <div class="input-box">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Account Number">
                    </div>
                </div>
            </div>

            <div class="summary-container">
                <p>Summary</p>
                <div class="summary-section">
                    <div class="icn">
                        <div class="summary-box">Icon</div>
                        <div class="icn-content"></div>
                            <div>💸</div>
                            <div>🔁</div>
                            <div>🌐</div>
                            <div>⏳</div>
                            <div>📊</div>
                    </div>
                    <div class="title">
                        <div class="summary-box">Title</div>
                        <div class="title-content"></div>
                            <div>Total Deposits Today</div>
                            <div>Total Internal Transfers</div>
                            <div>Total External Transfers</div>
                            <div>Pending External Requests</div>
                            <div>Total Transactions Processed</div>
                    </div>
                    <div class="amount">
                        <div class="summary-box">Amount/Count</div>
                        <div class="amount-content"></div>
                            <div>₱152,000.00</div>
                            <div>12 Transfers</div>
                            <div>₱85,000.00</div>
                            <div>5 Pending</div>
                            <div>35 Transactions</div>
                    </div>
                    <div class="update">
                        <div class="summary-box">Last Updated</div>
                        <div class="update-content"></div>
                            <div>2:45 PM</div>
                            <div>2:30 PM</div>
                            <div>2:30 PM</div>
                            <div>2:40 PM</div>
                            <div>2:50 PM</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>